{% extends "layouts/base.html" %}
{% block content %}

<div class="row">
    <h1 style="text-align: center;">Hi! Welcome to the Forum.</h1>
</div>

<div id="post">

</div>

<p>{{nickname}}</p>
<form action="/post" id="publish" method="POST" >
    <label for="thought">Post Your Thoughts</label>
    <input name="thought" id="thought">
    <input type="submit" value="Go!">
</form>

<form action="/delete" id="remove" method="POST" >
    <label>Delete Last Post</label>
    <input type="submit" value="Go!">
</form>

<div id="PhysicsDisplay">
</div>
<div id="ChemistryDisplay">
</div>
<div id="BiologyDisplay">
</div>

<script>
    var Developments = {
        "Physics": "Physics: Muons: 'Strong' evidence found for a new force of nature",
        "Chemistry": "Chemistry: Chemistry Nobel awarded for mirror-image molecules",
        "Biology": "Biology: AI breakthrough could spark medical revolution",
    }
        document.getElementById("PhysicsDisplay").innerText=Developments.Physics
        document.getElementById("ChemistryDisplay").innerText=Developments.Chemistry
        document.getElementById("BiologyDisplay").innerText=Developments.Biology
</script>


{% endblock %}