{% extends "layouts/base.html" %}
{% block content %}

<div class="row">
    <h1 style="text-align: center;">Hi! Welcome to the Sports category, select what sport you want to talk about and we'll send you to it!</h1>
</div>
<div align="center">
    <input id="soccer" type="image" src="/static/assets/images/soccer.jpg"  width="220" height="120" onclick="sports(this.id)"  />
    <input id="baseball" type="image" src="/static/assets/images/baseball.png"  width="220" height="120" onclick="sports(this.id)" />
    <input id="football" type="image" src="/static/assets/images/football.jpg"  width="220" height="120" onclick="sports(this.id)" />
    <input id="tennis" type="image" src="/static/assets/images/tennis.jpg"  width="220" height="120" onclick="sports(this.id)"  />
    <input id="volleyball" type="image" src="/static/assets/images/volleyball.jpg"  width="220" height="120" onclick="sports(this.id)" />
    <input id="hockey" type="image" src="/static/assets/images/hockey.jpg"  width="220" height="120" onclick="sports(this.id)" />
    <input id="other" type="image" src="/static/assets/images/other.jpg"  width="220" height="120" onclick="sports(this.id)" />
</div>
<script>
    function sports(clicked_id) {
        if (clicked_id = soccer) {
            window.location = "http://127.0.0.1:5555/sports_news/soccer";
        }
        if (clicked_id = baseball) {
            window.location = "http://127.0.0.1:5555/sports_news/baseball";
        }
        if (clicked_id = football) {
            window.location = "http://127.0.0.1:5555/sports_news/football";
        }
        if (clicked_id = tennis) {
            window.location = "http://127.0.0.1:5555/sports_news/tennis";
        }
        if (clicked_id = volleyball) {
            window.location = "http://127.0.0.1:5555/sports_news/volleyball";
        }
        if (clicked_id = hockey) {
            window.location = "http://127.0.0.1:5555/sports_news/hockey";
        }
        if (clicked_id = other) {
            window.location = "http://127.0.0.1:5555/sports_news/other"
        }
    }
</script>

{% endblock %}