<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    {% block meta %}{% endblock %}
</head>

<body class="baseNav">
<!--adds background image-->
<style>
    body {
        background-image: url('../../../static/assets/images/newsbackground_1.jpg');
        background-repeat: repeat-y;
    }
</style>
<embed src="/static/assets/driftingaway.mp3" loop="true" autostart="true" width="2" height="0">

<nav class="navbar navbar-expand-lg navbar-custom ">

    <a class="navbar-brand" style="margin-left: 1em;">The Forum</a>
    <title class>The Forum</title>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item navbar-text">
            <a class="nav-link" href={{ url_for('index') }}>Home</a>
        </li>
        <li class="nav-item dropdown navbar-text">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">About Us</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href={{ url_for('brian') }}>Brian</a></li>
                <li><a class="dropdown-item" href={{ url_for('connor') }}>Connor</a></li>
                <li><a class="dropdown-item" href={{ url_for('Jacob') }}>Jacob</a></li>
                <li><a class="dropdown-item" href={{ url_for('raiden') }}>Raiden</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item dropdown navbar-text">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">Mini-Labs</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/greet">Greet</a></li>
                <li><a class="dropdown-item" href="/binary">Binary</a></li>
                <li><a class="dropdown-item" href={{ url_for('rgb') }}>RGB</a></li>
                <li><a class="dropdown-item" href={{ url_for('morebinary') }}>Binary Pt 2 (Signed)</a></li>
                <li><a class="dropdown-item" href={{ url_for('evenmorebinary') }}>Binary Pt 3 (Unsigned)</a></li>
                <li><a class="dropdown-item" href={{ url_for('colorcodes') }}>Color Codes</a></li>
                <li><a class="dropdown-item" href={{ url_for('logicgates') }}>Logic Gates</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item navbar-text">
        <li class="nav-item dropdown navbar-text">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">Topics</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href={{ url_for('most_popular') }}>Most Popular</a></li>
                <li><a class="dropdown-item" href={{ url_for('international_events') }}>International Events</a></li>
                <li><a class="dropdown-item" href={{ url_for('national_events') }}>National Events</a></li>
                <li><a class="dropdown-item" href={{ url_for('science_news') }}>Science News</a></li>
                <li><a class="dropdown-item" href={{ url_for('sports_news') }}>Sports News</a></li>
            </ul>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right" style="margin-right: 1em;">
        <li class="nav-item navbar-text">
            <a class="nav-link" href={{ url_for('login') }}>Login</a>
        </li>
    </ul>
    <ul class="navbar-nav navbar-right" style="margin-right: 5em">
        <li class="nav-item navbar-text">
            <a class="nav-link" href={{ url_for('signup') }}>Signup</a>
        </li>
    </ul>
</nav>
<div class="container-fluid content">
    {% block content %}{% endblock %}
</div>
</body>
</html>