<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">POG</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSupportedContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                <div class="dropdown-menu" aria-labelledby="navbarSupportedContent">
                    <a class="dropdown-item" href="/raiden">Raiden</a>
                    <a class="dropdown-item" href="/brian">Brian</a>
                    <a class="dropdown-item" href="/Connor">Connor</a>
                    <a class="dropdown-item" href="/Jacob">Jacob</a>
                </div>
            </li>
        </ul>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarSupportedContent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mini-Labs</a>
                <div class="dropdown-menu" aria-labelledby="navbarSupportedContent">
                    <a class="dropdown-item" href="/greet">Greet</a>
                    <a class="dropdown-item" href="/binary">Binary</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="px-3">
        <span id="clock"></span>
    </div>
    <script>
        // Clock controller, taken from original website
        let clockElement = document.getElementById('clock');
        function clock() {
            let date = new Date();
            clockElement.textContent = date.toLocaleString();
        }
        // Clock refresh frequency
        setInterval(clock, 1000);
    </script>
</nav>