{% extends "layouts/base.html" %}
{% block content %}
<h1>Logic Gates</h1>
<p>Add true/false inputs</p>
<input type="checkbox" id="inputA" name="inputB" value="A" />
<label for="inputA"> A </label><br/>
<input type="checkbox" id="inputB" name="inputA" value="B" />
<label for="inputB"> B </label><br/>

<script>
  function logicgateValues() {
    logic1 = document.getElementById("inputA").checked;
    logic2 = document.getElementById("inputB").checked;

    andResults = logic1 && logic2;
    document.getElementById("and_gate").value = andResults;

    nandResults = !andResults;
    document.getElementById("nand_gate").value = nandResults;

    orResults = logic1 || logic2;
    document.getElementById("or_gate").value = orResults;

    norResults = !orResults;
    document.getElementById("nor_gate").value = norResults;

    xorResults = (logic1 && !logic2) || (!logic1 && logic2);
    document.getElementById("xor_gate").value = xorResults;

    notResults = !(logic1 && logic2);
    document.getElementById("not_gate").value = notResults;
  }
</script>

<input type="button" value="Find outputs" onclick="logicgateValues()" />

<table class="table" style="width: 100%; height: 100%" border="5">
  <th>Logic Gate</th>
  <th>Result</th>
  <tr>
    <td>And Gate</td>
    <td><textarea id="and_gate"></textarea></td>
  </tr>

  <tr>
    <td>Nand Gate</td>
    <td><textarea id="nand_gate"></textarea></td>
  </tr>

  <tr>
    <td>Or Gate</td>
    <td><textarea id="or_gate"></textarea></td>
  </tr>

  <tr>
    <td>Nor Gate</td>
    <td><textarea id="nor_gate"></textarea></td>
  </tr>

  <tr>
    <td>Xor Gate</td>
    <td><textarea id="xor_gate"></textarea></td>
  </tr>

  <tr>
    <td>Not Gate</td>
    <td><textarea id="not_gate"></textarea></td>
  </tr>
</table>
{% endblock %}