<!DOCTYPE html>
{% extends "layouts/base.html" %}

<!-- Search for all the Hack: below for hack-a-thon and mini-lab requirements -->
<!-- need to adjust Templates to start -->

<!-- Hack: Build form to drive bit size dynamic updates
           use HTML Input Form in Frontend, ie toward top of Page
           send initial value and updated values to form via Python render_template -->
<!-- Hack: use 8 as default -->
{% set BITS = bits %}
{% set MAX = ((2 ** BITS) - 1) %}

<!-- Hack: Set bulbs and pass as variables via Python render_template
           add new images (ie PNGs) to project -->
<!-- use your PNGs as default -->
{% set imgBulbOn = "/static/assets/bulb_on.gif" %}
{% set imgBulbOff = "/static/assets/bulb_off.png" %}
{% set msgTurnOn = "Turn On" %}
{% set msgTurnOff = "Turn Off" %}

{% block meta %}
    <title>Binary page</title>
    <script>
        const BITS = '{{ BITS }}'; let max = '{{ MAX }}'; let MAX = parseInt(max, 10);
        // return string with current value of each bit
        function getBits() {
            let bits = "";
            for(let i = 0; i < BITS; i++) {
                bits = bits + document.getElementById('digit' + i).value;
            }
            return bits;
        }
        function getBits1() {
            let bits = "";
            for(let i = 0; i < BITS; i++) {
                bits = bits + document.getElementById('digit1' + i).value;
            }
            return bits;
        }
        // setter for DOM values
        function setConversions(binary) {
            document.getElementById('binary').innerHTML = binary;
            document.getElementById('decimal').innerHTML = parseInt(binary, 2).toString(10);
        }
        function setConversions1(binary1) {
            document.getElementById('binary1').innerHTML = binary1;
            document.getElementById('decimal1').innerHTML = parseInt(binary1, 2).toString(10);
        }
        function setConversionsSum(binary, binary1) {
            num1 = parseInt(binary, 2);
            num2 = parseInt(binary1, 2);
            document.getElementById('decimalsum').innerHTML = num1 + num2;
        }
        function setConversionsDifference(binary, binary1) {
            num1 = parseInt(binary, 2);
            num2 = parseInt(binary1, 2);
            document.getElementById('decimaldifference').innerHTML = num1 - num2;
        }
        function setConversionsbinarySum(binary, binary1) {
            var binvalue = binary;
            var binvalue1 = binary1;                     // idk why i need to create a new variable but it works?
            document.getElementById('binarysum').innerHTML = sumBinary(binvalue,binvalue1);
        }
        function sumBinary(binvalue,binvalue1) {
             var binlen1 = binvalue.length;
             var binlen2 = binvalue1.length;
             // var max = Math.max(binlen1, binlen2);
             var result = '';
             var carry = 0;
             var value = 0;

            for (var i = 0; i < 9; i++) {
                value = Number(binvalue[binlen1 - 1 - i] || 0) + Number(binvalue1[binlen2 - 1 - i] || 0) + carry;   
                carry = Math.floor(value / 2);
                result = (value % 2) + result;
             }
            return result;
        }

        
        // toggle selected bit and recalculate
        function toggleBit(i) {
            //alert("Digit action: " + i );
            const dig = document.getElementById('digit' + i);
            const image = document.getElementById('bulb' + i);
            const butt = document.getElementById('butt' + i);
            // Change digit and visual
            if (image.src.match("{{ imgBulbOn }}")) {
                dig.value = 0;
                image.src = "{{ imgBulbOff }}";
                butt.innerHTML = "{{ msgTurnOn }}";
            } else {
                dig.value = 1;
                image.src = "{{ imgBulbOn }}";
                butt.innerHTML = "{{ msgTurnOff }}";
            }
            // Binary numbers
            const binary = getBits();
            setConversions(binary);
        }
        function toggleBit1(i) {
            //alert("Digit action: " + i );
            const dig = document.getElementById('digit1' + i);
            const image = document.getElementById('bulb1' + i);
            const butt = document.getElementById('butt1' + i);
            // Change digit and visual
            if (image.src.match("{{ imgBulbOn }}")) {
                dig.value = 0;
                image.src = "{{ imgBulbOff }}";
                butt.innerHTML = "{{ msgTurnOn }}";
            } else {
                dig.value = 1;
                image.src = "{{ imgBulbOn }}";
                butt.innerHTML = "{{ msgTurnOff }}";
            }
            // Binary numbers
            const binary1 = getBits1();
            setConversions1(binary1);
        }
        function decimalsum() {
            const binary = getBits();
            const binary1 = getBits1();
            setConversionsSum(binary, binary1)();
        }

        function binarysum() {
            const binary = getBits();
            const binary1 = getBits1();
            setConversionsbinarySum(binary, binary1)();
        }

        function decimaldifference() {
            const binary = getBits();
            const binary1 = getBits1();
            setConversionsDifference(binary, binary1)();
        }

        function binarydifference() {
            const binary = getBits();
            const binary1 = getBits1();
            document.getElementById('binarydifference').innerHTML = differenceBinary(binary,binary1);
        }

        function differenceBinary(binary,binary1) {
            var binlen1 = binary.length;
            var binlen2 = binary1.length;
            // var max = Math.max(binlen1, binlen2);
            var result = '';
            var carry = 0;
            var value = 0;

            for(var i = 0; i < 9; i++) {
                let DigitOfNumberToSubtractFrom = Number(binary[binlen1 - 1 - i] || 0);
                let DigitOfNumberToSubtract = Number(binary1[binlen2 - 1 - i] || 0);
                let carryOver = false;
                if(carry == 1){
                    if(DigitOfNumberToSubtract == 1)   {
                        carryOver = true;
                    }
                    DigitOfNumberToSubtract = Number(!(DigitOfNumberToSubtract));
                }
                if(carryOver || (DigitOfNumberToSubtract > DigitOfNumberToSubtractFrom)) {
                    carry = 1;
                }
                else {
                    carry = 0;
                }
                let DigitToAdd = 0;
                if(DigitOfNumberToSubtract != DigitOfNumberToSubtractFrom) {
                    DigitToAdd = 1;
                }
                result = DigitToAdd + result;
            }
            return result;

        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="text-center">Binary Math with Conversions</h1>

    <div class="container">
        <div class="row justify-content-md-center">

            <div class="col-8">
                <table class="table">
                    <tr id="table">
                        <th>Binary</th>
                        <th>Decimal</th>
                        <!-- Hack: display ASCII label for printable character(s)  -->
                    </tr>
                    <tr>
                        <td id="binary">00000000</td>
                        <td id="decimal">0</td>
                    </tr>
                </table>
            </div>

            <div class="col-12">
                <table class="table">
                    <tr>
                        {% for i in range(BITS) %}
                            <td><img class="img-responsive py-3" id="bulb{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto">
                                <button type="button" id="butt{{i}}" onclick="toggleBit('{{i}}')">{{ msgTurnOn }}</button>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in range(BITS) %}
                            <td><input type='text' id='digit{{i}}' Value="0" size="1" readonly></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="col-8">
                <table class="table">
                    <tr id="table">
                        <th>Binary</th>
                        <th>Decimal</th>
                        <!-- Hack: display ASCII label for printable character(s)  -->
                    </tr>
                    <tr>
                        <td id="binary1">00000000</td>
                        <td id="decimal1">0</td>
                    </tr>
                </table>
            </div>

            <div class="col-12">
                <table class="table">
                    <tr>
                        {% for i in range(BITS) %}
                            <td><img class="img-responsive py-3" id="bulb1{{i}}" src="{{ imgBulbOff }}" alt="" width="40" height="Auto">
                                <button type="button" id="butt1{{i}}" onclick="toggleBit1('{{i}}')">{{ msgTurnOn }}</button>
                            </td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for i in range(BITS) %}
                            <td><input type='text' id='digit1{{i}}' Value="0" size="1" readonly></td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
            <div class="col-8">
                <table class="table">
                    <tr>
                        <th><input type="button" value="Calculate Binary Sum" onclick="binarysum()"></th>
                        <th><input type="button" value="Calculate Decimal Sum" onclick="decimalsum()"></th>
                        <th><input type="button" value="Calculate Binary Difference" onclick="binarydifference()"></th>
                        <th><input type="button" value="Calculate Decimal Difference" onclick="decimaldifference()"></th>
                    </tr>
                    <tr>
                        <td id="binarysum">000000000</td>
                        <td id="decimalsum">0</td>
                        <td id="binarydifference">000000000</td>
                        <td id="decimaldifference">0</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
{% block background %}
{% endblock %}