

{% extends "layouts/base.html" %}

{% set project = "greet" %}

{% block body %}
    {#    <p>I am Connor and I am a junior and AP CSP student at Del Norte</p>#}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: gilroy,serif;">
        <div class="col-12">
            <p>Hello, {{nickname}}!</p>
        </div>
        <div class="col-12">
            <form action="/greet" id="greet" method="POST" >
                <label for="name">Type a greeting name?</label>
                <input name="name" id="name">
                <input type="submit" value="Greetings!">
            </form>
        </div>
    </div>
{% endblock %}
{% block background %}
{% endblock %}
</html>