<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

<head>
  <meta charset="UTF-8">
  <title>Description</title>
</head>
{% set project = "Jacob" %}

{% block body %}
<p>Hello! My name is Jacob Rozenkrants, and I am a Senior at Del Norte.</p>
{% endblock %}
{% block background %}
<script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
<script src="{{ url_for('static', filename='vanta.rings.min.js') }}"></script>
<script>
  VANTA.RINGS({
    el: "body",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00
  })
</script>
{% endblock %}
</html>
