<!DOCTYPE html>
<html lang="en">
{% extends "layouts/base.html" %}

<head>
    <meta charset="UTF-8">
    <title>About me: Raiden Tung</title>
</head>
{% set project = "Raiden" %}

{% block body %}
    <p>Hey! I'm Raiden Tung, and am currently a junior at Del Norte.</p>
{% endblock %}
{% block background %}
    <script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vanta.net.min.js') }}"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
{% endblock %}
</html>