{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#{% extends "layouts/base.html" %}#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>About me: Brian Tang</title>#}
{#</head>#}
{#{% set project = "Brian" %}#}
{##}
{##}
{#{% extends "layouts/base.html" %}#}
{##}
{#{% set project = "brian" %}#}
{##}
{#{% block body %}#}
{#    <p>I am Brian and I am a junior at Del Norte. My hobbies include playing tennis, hiking, and spending time with friends.</p>#}
{#    <div class="center-block" style="margin: 2% 5% 5%; text-align:center; font-family: gilroy,serif;">#}
{#        <div class="col-12">#}
{#            <p>Hello, {{nickname}}!</p>#}
{#        </div>#}
{#        <body style="background-color:coral"#}
{#        <div class="col-12">#}
{#            <form action="/brian" id="greet" method="POST" >#}
{#                <label for="name">Type a greeting name?</label>#}
{#                <input name="name" id="name">#}
{#                <input type="submit" value="Greetings!">#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{#</html>#}
{% extends "layouts/base.html" %}
{% block content %}

    <div class="row">
        <h1 style="text-align: left;">Hello, my name is Brian and I am a junior at Del Norte. My hobbies include spending time outdoors, reading, and playing tennis.</h1>
        <body style="background-color:cornflowerblue"#}
    </div>

<div id="Test">
true
</div>

<button onclick="AlterValue()">
    Toggle
</button>

<div>
    Ask me a question!
</div>

<select name="question" id="question">
    <option value="hobby">What is your favorite hobby?</option>
    <option value="color" >What is your favorite color?</option>
    <option value="candy" >What is your favorite candy?</option>
    <option value="sport" >What is your favorite sport?</option>
    <option value="season" selected>What is your favorite season?</option>
</select>

<button onclick="answer()">
    Ask
</button>

<div id="answer">
</div>

<script>
    var Test = {
        "isThisTrue": true,
        "CheckValue": function(){
            return this.isThisTrue;
        },
        "ChangeValue": function(){
            if (this.isThisTrue==true){
                this.isThisTrue = false;
            }
            else {
                this.isThisTrue = true;
            }

        }
    }
    function AlterValue () {
        Test.ChangeValue();
        document.getElementById("Test").innerText=Test.CheckValue();
    }

    var Brian = {
        "hobby": "Spending time with friends",
        "color": "Blue",
        "candy": "Ghiradelli chocolate",
        "sport": "Tennis",
        "season": "Winter",
        "getHobby": function(){
            return this.hobby;
        },
        "getColor": function(){
            return this.color;
        },
        "getCandy": function(){
          return this.candy;
        },
        "getSport": function(){
          return this.sport;
        },
        "getSeason": function(){
            return this.season;
        },
        "setHobby": function(newHobby){
            this.hobby = newHobby;
        },
        "setColor": function(newColor){
            this.color = newColor;
        },
        "setCandy": function(newCandy){
            this.candy = newCandy;
        },
        "setSport": function(newSport){
            this.sport = newSport;
        },
        "setSeason": function(newSeason){
            this.season = newSeason;
        }
    }

    function answer(){
        let questionAsked = document.getElementById("question").value;
        if (questionAsked=="hobby"){
            document.getElementById("answer").innerText=Brian.getHobby();
        }
        else if (questionAsked=="color"){
            document.getElementById("answer").innerText=Brian.getColor();
        }
        else if (questionAsked=="candy"){
            document.getElementById("answer").innerText=Brian.getCandy();
        }
        else if (questionAsked=="sport"){
            document.getElementById("answer").innerText=Brian.getSport();
        }
        else if (questionAsked=="season"){
            document.getElementById("answer").innerText=Brian.getSeason();
        }
    }
</script>

{% endblock %}